#topbar-content{
    background-color: #f3f3f3;
    max-height: 30px;
    line-height: 21px;
    font-size: 12px;

}
#logo{
   
    width: 250px;
}
#header-wrap-icon {
    text-align: center;
    padding-top: 40px;
}
#header-wrap-icon .header-icon-item{
    display: inline-block;
    margin: 0px 3px 0px 5px;
}
#header-wrap-icon .header-icon-item:hover>a{
    color: #727171;
}
#header-wrap-icon .header-icon-item a {
    display: block;
    color: black;
}
#header-wrap-icon .header-icon-item a i.fas{
    font-size: 30px;
    text-decoration: black;    
}
#header-wrap-icon #icon-bag {
    position: relative;
}
#header-wrap-icon #icon-bag #wp-product-in-cart{
    position: absolute;
    top: -7px;
    left: 17px;
    width: 85%;
    height: 70%;
    background-color: rgb(236, 25, 25);
    text-align: center;
    box-shadow: 3px 2px 6px rgb(121, 112, 112);
    border-radius: 60%;
}
#header-wrap-icon #icon-bag #wp-product-in-cart #product-in-cart{
    color: #f3f3f3; 
    font-weight: bold;
}

ul#main-menu{
    display: flex;
    justify-content: center;
    padding-left: 0px;
    width: 625px;
    margin: 0 auto;
}
ul#main-menu li a{
    font-size: 15px;
    display: block;
    text-decoration: none;
    color: black; 
    text-transform: capitalize;
}
#main-menu li .sub-menu {
    margin-left: 15px;
    width: 170px;
    position: absolute;
    padding: 0;
    background-color: white;
}
#main-menu>li>.sub-menu{
    top: 100%;
    left: 0;
    display: none;
}
#main-menu li .sub-menu li{
   padding: 7px 0;
}
#main-menu li .sub-menu li a{
    font-size: 14px;
    color: #050505;
    padding-left: 15px;
    text-align: left;
    font-weight: 400;
}
ul#main-menu>li>a{    
    padding:15px 36px 15px 15px;
    position: relative;
}
#main-menu>li{
    position: relative;
}

ul#main-menu li:hover>ul.sub-menu{
    display: block;
    transition: all 1s;
    box-shadow: 2px 7px 8px #776f6f;
}

ul#main-menu li>ul.sub-menu>li>.sub-menu{
    margin-left: 2px;
}

 ul.sub-menu ul.sub-menu li a.hasSubMenu::after{
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    color: black;
    margin-left: 10px;
}

#main-menu>li>.sub-menu .sub-menu{
    top: 0;
    left: 100%;
}
.menu-underline{
    width: 0;
    min-height: 2px;
    background-color: black;
    
}

ul li {
    list-style: none;
} 

.sub-menu li {
    border-bottom: 1px solid rgb(214, 212, 212);
    
    padding: 10px 0px 10px 25px;
}
#main-menu li a.sub-menu li a{
    padding: 0 15px 0 15px;
    
}

#main-menu>li>.sub-menu .sub-menu{
    display: none;
}
ul#main-menu>li>a::before{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    top: 45px;
    transition: all 0.7s ease-in-out;
}
ul#main-menu>li:hover>a::before{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.5s ease-in-out;
}
#main-menu li a.hasSubMenu::after{
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    color: black;
    margin-left: 10px;
}


#content{
    margin-bottom: 300px;
}
.slick-list{
    padding: 0px !important;
}


#content .home-page-bander-slider{
    z-index: -1;
}

#content .wp-content-header{
    display: flex;
    justify-content: center;
}
#content .content-header{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 40px;
    padding: 8px 0px;
    margin: 20px 0px;
    display: block;
    width: 30%;
    position: relative;
}
#content .content-header::after{
    content: '';
    height: 3px;
    width: 100%;
    position: absolute;
    background-color: #f3f3f3;
    top: 0;
    left: 0px;
}


.home-page-slider-item{
   position: relative;
   display: inline-block;
   overflow: hidden;
}
.home-page-slider-item a{
    overflow: hidden;
 }
.home-page-slider-item:hover a img{
    transform: scale(1.1);
    transition: 0.5s;
 }
 .home-page-slider-item a img{
    transition: 0.5s;
 }

.caption-slider-item {
    color: white;
    position: absolute;
    width: 100%;
    bottom: 5px;
    padding: 15px 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.slick-arrow{
    background: #f3f3f3;
    text-align: center;
    width: 4%;
    height: 12%;
    z-index: 1;
    border-radius: 50%;
}

.slick-prev.slick-arrow{ left:  10px ; box-shadow: -3px 0px 7px black;}
.slick-next.slick-arrow{  right: 10px ; box-shadow: 3px 0px 7px black; }

.slick-prev::before {
    content: "←";
    color: black;
    font-weight: bold;
    font-size: 30px;
}
.slick-next::before{    
    content: '→';
    color: black;
    font-weight: bold;
    font-size: 30px;
}


/* .product-item {
   width: 375px;
} */

.product-item .product-img{
    height: 420px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.product-item .product-img a {
    display: inline-block;
    height: inherit;
} 
.product-item .product-img a img{
    height:  100%;
}
.product-item .product-detail{
    display: inline-block;
    text-align: center;
    padding: 10px 7px;
    background-color: #f3f3f3;
    width: 100%;
}
.product-item .product-detail h3{
    font-size: 20px;
    font-weight: 400;
    white-space: pre-wrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
     display: -webkit-box;
}
.product-item .product-detail p{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;    
}
.product-item .product-detail .buy-add{
    display: flex;
    justify-content: center;
}
.product-item .product-detail .buy-add{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.product-item .product-detail .buy-add a{
    margin: 0px 5px 0px 5px;
    width: 50%;
}
.product-item .product-color-option{
    background-color: rgba(0, 0, 0, 0.4);
    height: 57px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -60px;
    transition-delay: 0.8s;
    transition-property: bottom;
    transition-duration: 0.5s;
    
}
.product-item:hover .product-color-option{
    bottom: 0;
    
    
} 

.product-item .product-color-option .color-btn{
    display: block;

    height: 70%;
    width: 11%;
    border-radius: 50%;
    margin: 10px 15px 0px 15px;
    border: 3px solid  rgba(0, 0, 0, 0);
    transition: all 0.5s;
    position: relative;
}
.product-item .product-color-option .color-btn:hover {       
    transition: all 0.5s;   
}
.product-item .product-color-option .color-btn::before{
    content: '';    
    position: absolute;
    width: 87%;
    height: 87%;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.2);
}
.home-page-slider.new-product .slick-prev.slick-arrow,.home-page-slider.new-product .slick-next.slick-arrow{ top:  200px  }
