#topbar-content{
    background-color: #f3f3f3;
    max-height: 30px;
    line-height: 21px;
    font-size: 12px;

}
#logo{
   
    width: 250px;
}
#header-wrap-icon {
    text-align: center;
    padding-top: 40px;
}
#header-wrap-icon .header-icon-item{
    display: inline-block;
    margin: 0px 3px 0px 5px;
}
#header-wrap-icon .header-icon-item a {
    display: block;
    
}
#header-wrap-icon .header-icon-item a i.fas{
    font-size: 30px;
    text-decoration: black;
    
}

ul#main-menu{
    display: flex;
    justify-content: center;
    padding-left: 0px;
    margin-bottom: 0px;
}
ul#main-menu li a{
    font-size: 15px;
    display: block;
    text-align: center;
    padding: 12px 0px;
    padding-right: 20px;
    margin: 0px 15px;
    text-decoration: none;
    color: black; 
    text-transform: capitalize;
}
#main-menu>li{
    position: relative;
}
ul li a:hover{
    border-bottom: 2px solid black;
    
}

ul li {
    list-style: none;
} 
.sub-menu{
    display: none ;
}
#main-menu li a.hasSubMenu::after{
    position: absolute;
    content: "\f099";
    font-family: "Font Awesome 5 Free";
    color: black;
}
