* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
div {
  display: block;
}
.ladi-paragraph {
  width: 100%;
  display: inline-block;
}
.ladi-element {
  position: absolute;
}
.ladi-wraper {
  width: 100%;
  height: 100%;
  background: #fff;
}
.ladi-section {
  margin: 0 auto;
  position: relative;
}
.ladi-wraper{
  background-color: #fff;
}

#section1,
#section5 {
  height: 1200px;
}
#section1 > .ladi-section-background,
#section5 > .ladi-section-background,
#section7 > .ladi-section-background {
  background-image: url("../../img/Concept-Colections/summer-collection-20/bg-1.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: repeat;
  height: 1200px;
}
.ladi-section .ladi-section-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
}
#section1 > .ladi-overlay,
#section5 > .ladi-overlay {
  opacity: 0;
}
.ladi-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.ladi-container {
  position: relative;
  margin: 0 auto;
  height: 100%;
}
.ladi-image {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#section1 > .ladi-container > .ladi-image > .ladi-image-background {
  width: 809.523px;
  height: 269.609px;
}
.ladi-image .ladi-image-background {
  background-image: url("../../img/Concept-Colections/summer-collection-20/summer-20.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  background-attachment: scroll;
  background-origin: content-box;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 200%);
  margin: 0 auto;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999;
}

/* =====section 2===== */
#section2 {
  height: 1200px;
}
#section2 > .ladi-section-background {
  background-image: url("../../img/Concept-Colections/summer-collection-20/bg-2.png");
  background-size: cover;
  background-position: center top;
  background-repeat: repeat;
  height: 1200px;
}
#section2 > .ladi-overlay {
  background: linear-gradient(
    321deg,
    rgba(77, 44, 25, 1),
    rgba(227, 192, 172, 1)
  );
  opacity: 0.42;
}
#paragraph2 > .ladi-paragraph {
  color: rgb(255, 255, 255);
  font-size: 17px;
  text-align: justify;
  line-height: 1.6;
}

#paragraph2 {
  width: 580px;
  top: 50%;
  left: 55%;
}

/* =====section3===== */
#section3 > .ladi-container {
  padding: 20px 0;
  height: 1800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 20px;
}
#ladi_item1 {
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
  width: 100%;
  height: 100%;
  background-color: black;
}
#ladi_item2 {
  grid-column: 4 / span 3;
  grid-row: 1 / span 5;
  background-image: url("../../img/Concept-Colections/summer-collection-20/summer-pic1.png");
  background-size: cover;
  width: 100%;
  height: 100%;
}
#ladi_item3 {
  grid-column: 1 / span 3;
  grid-row: 4 / span 2;
  background-image: url("../../img/Concept-Colections/summer-collection-20/summer-pic2.png");
  background-size: cover;
  width: 100%;
  height: 100%;
}
#ladi_item4 {
  grid-column: 1 / span 2;
  grid-row: 6 / span 2;
  width: 100%;
  height: 100%;
  background-image: url("../../img/Concept-Colections/summer-collection-20/summer-pic3.png");
  background-size: cover;
}
#ladi_item5 {
  grid-column: 3 / span 3;
  grid-row: 6 / span 2;
  width: 100%;
  height: 100%;
  background-image: url("../../img/Concept-Colections/summer-collection-20/summer-pic4.png");
  background-size: cover;
}
#ladi_item6 {
  grid-column: 6 / span 1;
  grid-row: 6 / span 2;

  width: 100%;
  height: 100%;
  background-image: url("../../img/Concept-Colections/summer-collection-20/summer-pic5.png");
  background-size: cover;
}
#ladi_item7 {
  grid-column: 1 / span 3;
  grid-row: 8 / span 2;
  width: 100%;
  height: 100%;

  background-image: url("../../img/Concept-Colections/summer-collection-20/summer-pic6.png");
  background-size: cover;
}
#ladi_item8 {
  grid-column: 4 / span 2;
  grid-row: 8 / span 2;
  width: 100%;
  height: 100%;

  background-image: url("../../img/Concept-Colections/summer-collection-20/summer-pic7.png");
  background-size: cover;
}
#ladi_item9 {
  grid-column: 6 / span 1;
  grid-row: 8 / span 2;
  width: 100%;
  height: 100%;
  background-image: url("../../img/Concept-Colections/summer-collection-20/summer-pic8.png");
  background-size: cover;
}

/* =====section4===== */
#section4 img {
  height: 700px;
}
.slick-prev.slick-arrow {
  left: 1rem;
  z-index: 999;
}
.slick-next.slick-arrow {
  right: 1rem;
}
.slick-arrow {
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.5);
  width: 2rem;
  height: 3rem;
  border-radius: 0.1rem;
}
.slick-prev::before {
  font-family: "Font Awesome 5 Free";
  content: "\f104";

  font-weight: bold;
  font-size: 30px;
}
.slick-next::before {
  font-family: "Font Awesome 5 Free";
  content: "\f105";

  z-index: 1;
  font-weight: bold;
  font-size: 30px;
}

/* =====section5===== */
#section5 > .ladi-section-background {
  background-image: url("../../img/Concept-Colections/summer-collection-20/bg-3.png");
  height: 1000px;
  margin-top: 20px;
}
#section5 {
  height: 1020px;
}

/* =====setion6===== */
#section6 {
  margin-top: 20px;
  height: 100%;
}
.gallery-slider-for img {
  width: 100%;
}
.gallery-slider-nav {
  margin-top: 20px;
}
#section6 .gallery-slider-nav .detail {
  padding: 0 5px;
  border-radius: 5px;
}

#section6 .gallery-slider-nav .detail > img {
  border-radius: 5px;
}
.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

/* =====section7===== */
#section7 > .ladi-section-background {
  background-image: url("../../img/Concept-Colections/summer-collection-20/bg-4.png");
  margin-top: 20px;
}
#section7 > .ladi-section-background {
  position: relative !important;
}

/* =====section8===== */
#section8{
  height: 820px;
  margin-top: 20px;
}

#section8 > .ladi-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
#section8 > .ladi-container > .ladi-item1 {

  grid-column: 1 / span 2;
  grid-row: 1/ span 2;

  width: 100%;
  height: 100%;

  background-image: url("../../img/Concept-Colections/summer-collection-20/polo-pic1.png");
  background-size: cover;
}

#section8 > .ladi-container > .ladi-item2{

  grid-column: 3 / span 1;

  width: 100%;
  height: 100%;

  background-image: url("../../img/Concept-Colections/summer-collection-20/polo-pic2.png");
  background-size: cover;
}
#section8 > .ladi-container > .ladi-item3{

  grid-column: 4 / span 1;

  width: 100%;
  height: 100%;

  background-image: url("../../img/Concept-Colections/summer-collection-20/polo-pic3.png");
  background-size: cover;
}

#section8 > .ladi-container > .ladi-item4{

  grid-column: 3 / span 2;

  width: 100%;
  height: 100%;

  background-image: url("../../img/Concept-Colections/summer-collection-20/polo-pic4.png");
  background-size: cover;
}

/* section9 */
#section9{
  height: 800px;
  margin-top: 20px;
}
#section9 > .ladi-section-background {
  background-image: url("../../img/Concept-Colections/summer-collection-20/bg-5.png");
  background-size: cover;
}

@media (min-width: 768px) {
  .ladi-section .ladi-container {
    width: 1200px;
  }
}
